@media(min-width: 425px) and (max-width: 614px){
    .kpi {
          display: flex;
          background: var(--color-white);
          padding: var(--card-padding);
          border-radius: var(--card-border-radius);
          margin-top: 1rem;
          box-shadow: var(--box-shaddow);
          transition: all 300ms ease;
          height: 11rem;
          width: 13rem;
          margin-left: -27rem;
      }
      .kpi1 {
          display: flex;
          background: var(--color-white);
          padding: var(--card-padding);
          border-radius: var(--card-border-radius);
          margin-top: 1rem;
          box-shadow: var(--box-shaddow);
          transition: all 300ms ease;
          height: 11rem;
          width: 13rem;
          margin-left: -23rem;
      }

      .recent-order {
        margin-top: 4rem;
        margin-left: -26rem;
        margin-right: 15rem;
    }

    .recent-order1 {
        margin-top: 13rem;
        margin-left: -0.5rem;
        margin-right: 15rem;
    }

    .recent-order2 {
        margin-top: 4rem;
        margin-left: 3rem;
        margin-right: 13rem;
    }

    main .insights2>div {
        width: 35rem;
        height: 20rem;
        margin-left: -29rem;
        margin-top: 11.5rem;
    }

    card-dep {
        cursor: pointer;
        width: 304px;
        height: 454px;
        background: var(--color-white);
        border-radius: 5px;
        border: 1px solid var(--color-sucess);
        transition: all .2s;
        box-shadow: 5px 5px 7px 1px var(--color-sucess);
        position: absolute;
        margin-top: 10rem;
        margin-left: 18rem;
    }

    .textInputWrapper {
        position: relative;
        padding-top: 20px;
        padding-left: 5px;
        width: 289px;
        margin: 12px 5px;
        --accent-color: var(--color-sucess);
    }
    
  }
@media(min-width: 669px) and (max-width: 768px){
  .kpi {
        display: flex;
        background: var(--color-white);
        padding: var(--card-padding);
        border-radius: var(--card-border-radius);
        margin-top: 1rem;
        box-shadow: var(--box-shaddow);
        transition: all 300ms ease;
        height: 11rem;
        width: 13rem;
        margin-left: -51rem;
    }
    .kpi1 {
        display: flex;
        background: var(--color-white);
        padding: var(--card-padding);
        border-radius: var(--card-border-radius);
        margin-top: 1rem;
        box-shadow: var(--box-shaddow);
        transition: all 300ms ease;
        height: 11rem;
        width: 13rem;
        margin-left: -74rem;
    }

    .recent-order {
        margin-top: -15rem;
        margin-left: 17rem;
        margin-right: 15rem;
    }

    .recent-order1 {
        margin-top: 13rem;
        margin-left: -0.5rem;
        margin-right: 15rem;
    }

    .recent-order2 {
        margin-top: 4rem;
        margin-left: -5rem;
        margin-right: 3rem;
    }
}

@media(min-width: 769px) and (max-width: 1024px){
    .kpi {
        display: flex;
        background: var(--color-white);
        padding: var(--card-padding);
        border-radius: var(--card-border-radius);
        margin-top: 1rem;
        box-shadow: var(--box-shaddow);
        transition: all 300ms ease;
        height: 11rem;
        width: 13rem;
        margin-left: -50rem;
    }
    .kpi1 {
        display: flex;
        background: var(--color-white);
        padding: var(--card-padding);
        border-radius: var(--card-border-radius);
        margin-top: 1rem;
        box-shadow: var(--box-shaddow);
        transition: all 300ms ease;
        height: 11rem;
        width: 13rem;
        margin-left: -75rem;
    }

    .recent-order1 {
        margin-top: 13rem;
        margin-left: -15.5rem;
        margin-right: 15rem;
    }

    .recent-order2 {
        margin-top: 4rem;
        margin-left: -15rem;
        margin-right: 9rem;
    }
}
